body,
body .mfp-wrap {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow: auto;
    scrollbar-width: thin;
}

body::-webkit-scrollbar,
body header::-webkit-scrollbar,
body .mfp-wrap::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb,
body header::-webkit-scrollbar-thumb,
body .mfp-wrap::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::-moz-scrollbar,
body header::-moz-scrollbar,
body .mfp-wrap::-moz-scrollbar {
    width: 0;
}

body::-moz-scrollbar-thumb,
body header::-moz-scrollbar-thumb,
body .mfp-wrap::-moz-scrollbar-thumb {
    background-color: transparent;
}

i.fa-brands {
    display: inline-block;
    margin: 0 5px;
}

.shadow-bottom {
    -webkit-box-shadow: 0 32px 15px -28px #000000;
    -moz-box-shadow: 0 32px 15px -28px #000000;
    box-shadow: 0 32px 15px -28px #000000;
}

img.service-image {
    width: 5rem;
    height: 5rem;
}

.bg-white {
    background-color: white !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    animation: modalFadeIn 0.35s ease-out;
}

.modal-overlay.modal-closing {
    animation: modalFadeOut 0.35s ease-in;
}

.modal-content h2{
    margin: 0 0 20px 0;
}

.modal-content {
    background: white;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    position: relative;
    /* max-height: 90vh; */
    max-width: 800px;
    width: 100%;
    transform-origin: center;
    /* animation: modalZoomIn 0.5s cubic-bezier(0.34, 1.56, 0.64, 1); */
}

.modal-content.modal-closing {
    /* animation: modalZoomOut 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19); */
}

.modal-body {
    padding: 0 40px 40px 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 85vh;
}

.modal-close {
    position: relative;
    top: 30px;
    left: calc(100% - 30px);
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #999;
    z-index: 1001;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.25s ease;
    margin-bottom: 20px;
}

.modal-close:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #333;
}

.navigation-wrapper {
    position: relative;
}

.dots {
    display: flex;
    padding: 15px 0;
    justify-content: center;
}

.dot {
    border: none;
    width: 5px;
    height: 5px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot.active {
    background: #23232F;
}

.arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
    border-radius: 50%;
    background-color: #23232F;
    padding: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.arrow--left {
    left: 15px;
}

.arrow--right {
    left: auto;
    right: 15px;
}

.arrow--disabled {
    /* fill: rgba(255, 255, 255, 0.5); */
    opacity: 0.7;
    cursor: default;
}

/* Fade animations */
@keyframes modalFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Zoom animations */
@keyframes modalZoomIn {
    from {
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalZoomOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.7);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .modal-overlay {
        padding: 10px;
    }

    .modal-body {
        padding: 0 20px 20px 20px;
    }

    /* .modal-close {
        top: 10px;
        right: 15px;
        font-size: 24px;
        width: 35px;
        height: 35px;
    } */
}

/* Mobile */
@media screen and (max-width: 767px) {
    .w-xs-100 {
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /*  */
}

/* Desktop */
@media screen and (min-width: 1024px) {
    /*  */
}